<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/angular-material.css" rel="stylesheet" />
    <link href="~/Content/angular-material.layout-attributes.css" rel="stylesheet" />
    <link href="~/Content/angular-toastr.css" rel="stylesheet" />
    <link href="~/Content/angular-material.layouts.css" rel="stylesheet" />
    <link href="~/Content/angular-material.layouts.ie_fixes.css" rel="stylesheet" />
    
   
</head>
<body>

    @if (Request.IsAuthenticated)
    {

        <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0px">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Naziv aplikacije</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li id="home" class="active"><a href="#!/index" onclick="Mark('home')">Home</a></li>
                        @*<li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>*@
                        <li class="dropdown" id="sifarnici">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Šifarnici <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#!/pripadci" onclick="Mark('sifarnici')">Pripadci</a></li>
                                <li><a href="#!/prosebniDIjelovi" onclick="Mark('sifarnici')">Posebni dijelovi</a></li>
                                @*<li role="separator" class="divider"></li>
                                <li class="dropdown-header"></li>
                                <li><a href="#!/zgrade" onclick="Mark('sifarnici')">Zgrade</a></li>
                                <li><a href="#">Neki link kojii ne vodi nigdje</a></li>*@
                            </ul>
                        </li>
                        <li id="zgrade"><a href="#!/zgrade" onclick="Mark('zgrade')">Zgrade</a></li>
                        <li class="dropdown" id="obr">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">$$$$ <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#!/ks/4" onclick="Mark('obr')">Kartice suvlasnika</a></li>
                                <li><a href="#!/prihodirashodi" onclick="Mark('obr')">Prihodi / rashodi</a></li>
                                <li><a href="#!/pricuva" onclick="Mark('obr')">Pričuva</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Action</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @*<li>@ViewBag.Company</li>*@
                        <li><a href="#">@ViewBag.ImePrezime</a></li>
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        
        if (ViewBag.ExpMsg != null)
        {
            if (ViewBag.ExpDays >= 15)
            {
                <div class="alert alert-warning" style="padding-top: 0px">
                    <h5 style="color: red; text-align:end; margin-right: 50px">@ViewBag.ExpMsg!</h5>
                </div>
            }
            else if (ViewBag.ExpDays < 15 && ViewBag.ExpDays >= 0 )
            {
                <div class="alert alert-danger">
                    <h5 style="color: #303030; text-align:end; margin-right: 50px;"><b>@ViewBag.ExpMsg!</b></h5>
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    <h5 style="color: #303030; text-align:end; margin-right: 50px;"><b>@ViewBag.ExpMsg!</b></h5>
                    <h5 style="color: #303030; text-align:end; margin-right: 50px;"><b>@ViewBag.ExpMsgGrace</b></h5>
                </div>
            }

        }

    }



    <div class="mainContainer">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

   

    <script src="~/Scripts/angular-toastr.js"></script>
    <script src="~/Scripts/angular-toastr.tpls.js"></script>
    <script src="~/Scripts/angular-messages.js"></script>

    <link href="~/Content/angular-material.css" rel="stylesheet" />
    <script src="~/Scripts/angular-material/angular-material.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-aria/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    
    @*material pokusaj*@
    @*<link href="~/Content/bootstrap-material-design.css" rel="stylesheet" />
    <link href="~/Content/ripples.css" rel="stylesheet" />
    <script src="~/Scripts/material.js"></script>
    <script src="~/Scripts/ripples.js"></script>*@

    <!-- Angular custom stuff -->
    <script src="~/app/angularApp.js"></script>
    <script src="~/app/Services/DataService.js"></script>
    <script src="~/app/Filters/pricuveFilters.js"></script>
    <script src="~/app/indexCtrl.js"></script>

    <script src="~/app/zgrade/zgradeCtrl.js"></script>
    <script src="~/app/zgrade/zgradaCtrl.js"></script>
    <script src="~/app/zgrade/zgradaStanariModalCtrl.js"></script>
    <script src="~/app/zgrade/zgradaPosebniDijeloviMasterModalCtrl.js"></script>
    <script src="~/app/zgrade/PDChild/posebniDijeloviMasterListCtrl.js"></script>
    <script src="~/app/zgrade/PDChild/posebniDioChildrenCtrl.js"></script>
    <script src="~/app/zgrade/PDChild/posebniDioChildModalCtrl.js"></script>
    <script src="~/app/zgrade/PDChild/posebniDioChildPovrsinaModalCtrl.js"></script>
    <script src="~/app/zgrade/PDChild/posebniDioChildPripadciModalCtrl.js"></script>
    <script src="~/app/zgrade/PDChild/posebniDioMasterVlasniciModalCtrl.js"></script>

    <script src="~/app/prihodiRashodi/prihodiRashodiIndexCtrl.js"></script>
    <script src="~/app/prihodiRashodi/prihodiModalCtrl.js"></script>
    <script src="~/app/prihodiRashodi/rashodiModalCtrl.js"></script>
    <script src="~/app/prihodiRashodi/sifarnikRashodaModalCtrl.js"></script>

    <script src="~/app/pricuvaRezije/godinaCtrl.js"></script>
    <script src="~/app/pricuvaRezije/mjesecModalCtrl.js"></script>
    <script src="~/app/pricuvaRezije/stanjeZgradeModalCtrl.js"></script>

    <script src="~/app/ks/indexKsCtrl.js"></script>
    @*
    
   
    <script src="~/app/Sifarnici/pripadciCtrl.js"></script>
    <script src="~/app/Sifarnici/pripadakCtrl.js"></script>
    <script src="~/app/Sifarnici/stanoviCtrl.js"></script>
    <script src="~/app/Sifarnici/stanCtrl.js"></script>
    <script src="~/app/Sifarnici/modals/posebniDioModalCtrl.js"></script>
    <script src="~/app/Sifarnici/modals/pripadakModalCtrl.js"></script>
    <script src="~/app/Sifarnici/modals/stanarModalCtrl.js"></script>
    <script src="~/app/Sifarnici/modals/pripadakStanCtrl.js"></script>
    <script src="~/app/Sifarnici/zgradaPregledPripadakaPoStanovimaCtrl.js"></script>
    <script src="~/app/Sifarnici/prosebniDIjeloviCtrl.js"></script>
    <script src="~/app/Sifarnici/posebniDioCtrl.js"></script>
    <script src="~/app/pricuva/editCtrl.js"></script>

    <script src="~/app/zaduzivanja/zaduzivanjePoMjCrtl.js"></script>
    <script src="~/app/zaduzivanja/zaduzivanjeModalCtrl.js"></script>
    <script src="~/app/PihRas/indexprhRasCtrl.js"></script>
    <script src="~/app/PihRas/editPrihRasCtrl.js"></script>
    <script src="~/app/PihRas/modalPrihodCtrl.js"></script>
    <script src="~/app/PihRas/modalRashodCtrl.js"></script>

    <script src="~/app/ks/ksDisplayCtrl.js"></script>
    <script src="~/app/ks/ksksModalCtrl.js"></script>

    <script src="~/app/pricuva/indexPricuvaCtrl.js"></script>
    <script src="~/app/pricuva/pricuvaMjesecModalCtrl.js"></script>
    <script src="~/app/pricuva/ksModalCtrl.js"></script>*@
    <script type="text/javascript">

        function Mark(el) {
            $('li').removeClass('active');
            $('#' + el).addClass('active');
        }

    </script>
</body>
</html>
